:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  background: #242424;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 5px;
}

.stat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.energy-stat {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.percent {
  color: white;
}

.label {
  margin-right: 10px;
}

.renewable {
  color: #00ff00;
}

.non-renewable {
  color: #ff0000;
}

.tooltip-footer {
  opacity: 0.5;
  color: white;
  font-size: small;
  text-align: center;
}
